.projects-selector
{
	position: absolute;
	top: 4vh;
	left: 50vw;
	width: 200px;
    min-height: 32px;
	margin-left: -100px;
	display: flex;
	flex-direction: row;
	align-content: center;
}

.projects-selector div
{
	position: relative;
	flex: 1;
}

.projects-selector div input[type="radio"]
{
	position: absolute;
	top: -5px;
	left: 0;
	margin: 0 auto;
	display: flex;
	height: 100%;
	width: 100%;
	opacity: 0;
	cursor: pointer;
	z-index: 2;
}

.projects-selector div .selector_circle
{
	transition: all 0.2s ease-in-out;
	position: relative;
	top: 0;
	left: 0;
	margin: 0 auto;
	display: flex;
	height: 20px;
	width: 20px;
	background-color: #FFFFFF;
	border-radius: 50%;
	z-index: 1;
}

.projects-selector div:hover .selector_circle
{
	top: -5px;
	height: 30px;
	width: 30px;
}

.projects-selector div input[type="radio"]:checked ~ .selector_circle
{
	top: -5px;
	height: 30px;
	width: 30px;
	background-color: #FFFFFF;
}

.projects-selector div input[type="radio"] ~ .selector_circle::after
{
	transition: all 0.2s ease-in-out;
	content: ' ';
	position: relative;
	top: 10px;
	left: 0;
	margin: 0 auto;
	height: 2px;
	width: 2px;
	background-color: #FF8844;
	border-radius: 50%;
	opacity: 0;
	z-index: 0;
}

.projects-selector div input[type="radio"]:checked ~ .selector_circle::after
{
	content: ' ';
	position: relative;
	top: 4px;
	left: 0;
	height: 22px;
	width: 22px;
	margin: 0 auto;
	opacity: 1;
}

.projects-carrousel
{
	transition: all 3.0s ease-out;
	position: relative;
	top: 10vh;
	left: 0;
	display: flex;
	margin: 0;
	height: 78vh;
	width: 900vw;
}

#carrousel-left-area
{
	background-color: #000000;
	position: fixed;
	top: 0;
	left: 0;
	height: 8vh;
	width: 10vw;
	z-index: 10;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(64px + 2vmin);
	font-weight: 900;
	color: white;
}

#carrousel-right-area
{
	background-color: #000000;
	position: fixed;
	top: 0;
	right: 0;
	height: 8vh;
	width: 10vw;
	z-index: 10;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(64px + 2vmin);
	font-weight: 900;
	color: white;
}

#carrousel-left-area:hover
{
	background-color: black;
	color: #FF8844;
}

#carrousel-right-area:hover
{
	background-color: black;
	color: #FF8844;
}

#txt_content
{
	position: absolute;
	visibility: hidden;
}

@media only screen and (-moz-min-device-pixel-ratio: 2), 
		only screen and (-o-min-device-pixel-ratio: 2/1), 
		only screen and (-webkit-min-device-pixel-ratio: 2), 
		only screen and (min-device-pixel-ratio: 2) {
		/*use CSS to swap out your low res images with high res ones here*/
	#carrousel-left-area
	{
		top: 1.6vh;
		font-size: calc(32px + 2vmin);
	}

	#carrousel-right-area
	{
		top: 1.6vh;
		font-size: calc(32px + 2vmin);
	}
}   