/* This is supposed to remove anti-aliasing when rescaling images. */
img
{ 
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: crisp-edges; /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

/*
orange: #ffa10f;
metal-orange: #dd810d;
*/

.project-door-box
{
	position: relative;
	overflow: hidden;
	/*margin: 0 8px;*/
	width: 20vw;
	min-width: 274px;
	height: 588px;
	/*transform: scale(0.5);*/
}

.project-door-box .wrapper
{
	position: relative;
	overflow: hidden;
	height: 100%;
	width: 276px;
	margin: 0 auto;
}

.frame
{
	position: absolute;
	top: -8px;
	left: -8px;
	z-index: 4;
}

.game_logo
{
	position: absolute;
	top: 0;
	left: 1px;
	z-index: 0;
	height: 98%;
	width: 274px;
	object-fit: cover;
	object-position: 0 0;
}

.door_reflection
{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	height: 100%;
}

.door_top
{
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	z-index: 2;
	transition: all 2.2s ease-in;
	backface-visibility: hidden;
}

.door_bottom
{
	position: absolute;
	top: 0px;
	left: 0;
	margin: 0;
	padding: 0;
	z-index: 2;
	transition: all 2.2s ease-in;
	backface-visibility: hidden;
}

.project-door-box.open .door_top
{
	top: -280px;
	transition: all 0.6s ease-out;
}

.project-door-box.open .door_bottom
{
	top: 280px;
	transition: all 0.6s ease-out;
}

.project-door-box div .cog
{
	position: absolute;
	z-index: 1;
	transform: rotate(0);
	transition: all 2.2s ease-in;
}

.project-door-box.open div .cog
{
	transform: rotate(180deg);
	transition: all 0.6s ease-out;
}

.project-door-box.open div .cog.c1,
.project-door-box.open div .cog.c3,
.project-door-box.open div .cog.c5,
.project-door-box.open div .cog.c7
{
	transform: rotate(-180deg);
	transition: all 0.6s ease-out;
}

.cogs-left
{
	overflow: hidden;
	position: absolute;
	top: -24px;
	left: 10px;
	width: 98%;
	height: 100%;
	backface-visibility: hidden;
}

.cogs-right
{
	overflow: hidden;
	position: absolute;
	top: -112px;
	left: 12px;
	width: 98%;
	height: 100%;
	backface-visibility: hidden;
}

.cog.c1
{
	position: absolute;
	top: 146px;
	left: 0px;
}

.cog.c2
{
	position: absolute;
	top: 200px;
	left: -12px;
}

.cog.c3
{
	position: absolute;
	top: 266px;
	left: -12px;
}

.cog.c4
{
	position: absolute;
	top: 320px;
	left: 0px;
}

.cog.c5
{
	position: absolute;
	top: 386px;
	left: -12px;
}

.cog.c6
{
	position: absolute;
	top: 440px;
	left: 0px;
}

.cog.c7
{
	position: absolute;
	top: 512px;
	left: 0px;
}

.cog.c8
{
	position: absolute;
	top: 572px;
	left: -12px;
}

.cogs-right .cog.c1
{
	left: initial;
	right: 0px;
}

.cogs-right .cog.c2
{
	left: initial;
	right: 12px;
}

.cogs-right .cog.c3
{
	left: initial;
	right: 12px;
}

.cogs-right .cog.c4
{
	left: initial;
	right: 0px;
}

.cogs-right .cog.c5
{
	left: initial;
	right: 12px;
}

.cogs-right .cog.c6
{
	left: initial;
	right: 0px;
}

.cogs-right .cog.c7
{
	left: initial;
	right: 0px;
}

.cogs-right .cog.c8
{
	left: initial;
	right: 12px;
}


/* RESPONSIVE RULES */
@media (max-height: 900px)
{
	.project-door-box
	{
		transform: scale(0.8) translateY(-8vh);
	}
}

@media (max-height: 760px)
{
	.project-door-box
	{
		transform: scale(0.6) translateY(-24vh);
	}
}

@media (max-height: 640px)
{
	.project-door-box
	{
		transform: scale(0.5) translateY(-42vh);
	}
}

@media (max-height: 520px)
{
	.project-door-box
	{
		transform: scale(0.4) translateY(-76vh);
	}
}

@media (max-width: 1400px)
{
	.project-door-box
	{
		transform: scale(0.8) translateX(-0vw);
	}
}

@media (max-width: 1360px)
{
	/*.projects-selector
	{
		display: none !important;
	}

	#carrousel-left-area
	{
		display: none !important;
	}

	#carrousel-right-area
	{
		display: none !important;
	}

	.projects-carrousel
	{
		flex-direction: column;
		width: 100vw;
	}

	.project-door-box
	{
		transform: scaleX(4) scaleY(0.2);
		width: 100vw !important;
	}*/
}

@media (max-width: 1000px)
{
	.project-door-box
	{
		transform: scale(0.5) translateX(-42vw);
	}
}

@media (max-width: 800px)
{
	.project-door-box
	{
		transform: scale(0.4) translateX(-76vw);
	}
}